# Blacklist everything in the top-most directory by default:
/*
*.DS_Store

# Whitelist some files/folders:
!.gitignore
!LICENSE
!/Transmission/

# Then blacklist everything inside the transmission folder by default:
/Transmission/*

# Whitelist some files/folders:
!/Transmission/.gitignore
!/Transmission/Assets/
!/Transmission/ProjectSettings/
!/Transmission/Bin/
